a {
  text-decoration: none;
}

#navi {
	text-align: center;
	font-family: Papyrus, fantasy;
	font-size: 20px;
  	padding: 2% 5%;
	z-index: 1;
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
}

/*tags for index.html*/
#welcome {
  	width: 100%;
	height: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
  	top: 20%;
  	left: 60%;
  	width: 100%;
	font-size: 40px;
  	font-style: italic;
  	color: rgba(300,300,300,0.6);
  	font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
}

#crane {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: -1; /* Ensures div tag stays behind content; -999 might work too*/
}

.stretch {
	width: 100%;
	height: 100%;
}

/*tags for about.html*/
#title {
	text-align: center;
	font-style: italic;
	color: rgba(0,0,0,0.6);
  	font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
}

#description {
	text-align: center;
	font-family: "Georgia", serif;
	color: rgba(0,0,0,0.6);
}

#contact {
	text-align: center;
	font-family: "Georgia", serif;
	color: rgba(0,0,0,0.6);
  	background-color: rgba(300,300,300,0.3);
}

#pics.img {
    display: block;
    max-width:230px;
    max-height:95px;
    width: auto;
    height: auto;
	color: black;
	background-color: rgba(300,300,300,1);
}

#pics{
	margin: auto;
	width: 1050px;
}
#pics ul{
	margin: 0;
	padding: 0;
}
#pics li{
	float: left;
	margin: 0px 5px 0 5px;
	width: 500px;
	list-style: none;
}
#pics img{
	float: left;
}
#pics p{
	margin: 0 auto;
	background-color: rgba(300,300,300,0.3);
	text-align: center;
	font-size: 30px;
  	font-style: italic;
  	color: black;
  	font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
}

