a {
  text-decoration: none;
}

#navi {
	text-align: center;
	font-family: Papyrus, fantasy;
	font-size: 20px;
  	padding: 2% 5%;
	color: rgba(100, 0, 100, 1);
	width: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
}

#welcome {
  	width: 100%;
	height: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
  	top: 20%;
  	left: 60%;
  	width: 100%;
	font-size: 40px;
  	font-style: italic;
  	color: rgba(300,300,300,0.6);
  	font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
}

#crane {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: -1;
}

.stretch {
	width: 100%;
	height: 100%;
}

#title {
	text-align: center;
	font-style: italic;
	color: rgba(0,0,0,0.6);
  	font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
}

#description {
	text-align: center;
	font-family: "Georgia", serif;
	color: rgba(0,0,0,0.6);
}

#contact {
	text-align: center;
	font-family: "Georgia", serif;
	color: rgba(0,0,0,0.6);
  	background-color: rgba(300,300,300,0.3);
}

#pics img {
    display: block;
    max-width:500px;
    max-height: 500px;
}

#pics{
	margin: auto;
	width: 1080px;
}
#pics ul{
	margin: 0;
	padding: 0;
}
#pics li{
	float: left;
	margin: 0px 10px 0 10px;
	width: 500px;
	list-style: none;
}

#pics p{
	background-color: rgba(300,300,300,0.3);
	text-align: center;
	font-size: 30px;
  	font-style: italic;
  	color: black;
  	font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
}